@import "common/variables";
@import "common/mixins";
@import "common/fonts";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    @include font($font-family, normal, 500, $font-size);
    color: $primary-font-color-dark;
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    min-width: 640px;
    position: relative;
    overflow: hidden;
}

.logo {
    background: url('../images/logo.png') 50% 50% no-repeat;
    height: 24px;
    width: 100%;
    margin: 156px auto 0;
    cursor: pointer;
}

@import "blocks/modal";
@import "blocks/friends";
@import "blocks/friend";
